*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --alice-blue: #e4f1fe;
    --maya-blue: #8dc6ff;
    --charcoal-blue: #22313f;
    --dark-slate: #34495e;
}

@font-face {
    font-family: bitshow;
    src: url(../assets//fonts/bitshow.otf);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: bitshow, sans-serif;
    background-color: var(--dark-slate);
}

.game-title{
    color: var(--alice-blue);
    margin-top: 10px;
}

.game-mode {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.game-mode button{
    font-family: bitshow, sans-serif;
    background-color: var(--charcoal-blue);
    color: var(--alice-blue);
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    border: 2px solid var(--alice-blue);
    cursor: pointer;
}

.game-mode button:hover{
    background-color: var(--alice-blue);
    color: var(--charcoal-blue);
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--alice-blue);
}

.game-board{
    visibility: hidden;
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid var(--alice-blue);
}

.game-board .cell{
    background-color: var(--charcoal-blue);
    border: 1px solid var(--alice-blue);
}